<ion-view>
  <ion-header-bar class="bar-assertive">
    <div class="buttons">
      <button class="button button-icon icon ion-android-arrow-back" ng-click="checkAnswer.Goback()"></button>
    </div>
    <h1 class="title">Answer Review</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-home light" ng-click="checkAnswer.GoTohome()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="background-color-white">
    <div>
      <div class="row" ng-repeat="list in checkAnswer.list">
        <div class="card width300" ng-if="!(checkAnswer.check(list.correct))">
            <div class="row border-bottom-gray" ng-if="list.answer&&(list.answer==list.correct)">
                <div class="col text-center text-x-large balanced bold" >
                    Correct
                </div>
            </div>
          <div class="row border-bottom-gray" ng-if="list.answer&&(list.answer!=list.correct)">
            <div class="col text-center text-x-large assertive bold" >
              Incorrect
            </div>
          </div>
          <div class="row border-bottom-gray" ng-if="!list.answer">
            <div class="col text-center text-x-large gray bold" >
              Not Attempted
            </div>
          </div>
          <div class="row">
            <div class="col col-offset-5">
              <strong> Q.{{$index+1}} {{list.question}}</strong>
            </div>
          </div>

          <div class="border-bottom-gray">
            <div class="row" data-ng-repeat="options in list.options">
              <div class="col col-offset-5"
                   data-ng-style="(options.id==list.correct) && {'color':'green','width':'auto'}">
                {{options.option}}
                <span ng-if="(list.answer==options.id)&&(options.id==list.correct)"
                      class="ion ion-checkmark-round"></span>
                <span ng-if="(options.id==list.answer)&&(options.id!=list.correct)"
                      class="ion red ion-close-round"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div ng-repeat="options in list.options">
              <div class="col col-offset-5" ng-if="list.answer==options.id"><strong>Your answer:</strong>
                {{options.option}}</div>
            </div>
          </div>
          <div class="row">
            <div ng-repeat="options in list.options">
              <div class="col col-offset-5" ng-if="options.id==list.correct"><strong>Correct answer:</strong>
                {{options.option}}</div>
            </div>
          </div>
            <div class="row">
                <div class="col col-offset-5">
                    <strong> Explanation: {{list.explanation}}</strong>
                </div>
            </div>

        </div>


        <div class="card width300" ng-if="checkAnswer.check(list.correct)">
            <div class="row border-bottom-gray" ng-if="list.answer&&checkAnswer.matchArray(list.answer,list.correct)">
                <div class="col text-center text-x-large balanced bold" >
                    Correct
                </div>
            </div>
            <div class="row border-bottom-gray" ng-if="list.answer&&!(list.answer&&checkAnswer.matchArray(list.answer,list.correct))">
                <div class="col text-center text-x-large assertive bold" >
                    Incorrect
                </div>
            </div>
          <div class="row border-bottom-gray" ng-if="!list.answer">
            <div class="col text-center text-x-large gray bold" >
              Not attempted
            </div>
          </div>

          <div class="row">
            <div class="col col-offset-5">
              <strong>Q.{{$index+1}} {{list.question}}</strong>
            </div>
          </div>
          <div class="row" data-ng-repeat="options in list.options">

            <div class="col col-offset-5"
                 data-ng-style="(checkAnswer.match(options.id,list.correct)) && {'color':'green','width':'auto'}">
              {{options.option}}
              <span ng-if="(checkAnswer.match(options.id,list.answer))&&(checkAnswer.match(options.id,list.correct))"
                    class="ion ion-checkmark-round"></span>
              <span ng-if="(checkAnswer.match(options.id,list.answer))&&!(checkAnswer.match(options.id,list.correct))"
                    class="ion red ion-close-round"></span>
            </div>
          </div>
          <div class="row">

            <div class="col col-offset-5">
              <strong>Your answers:<br></strong>
            </div>
          </div>
          <span class="col col-offset-10" ng-if="(checkAnswer.match(options.id,list.answer))"
                ng-repeat="options in list.options">
                  <span>{{options.option}}<br></span>
          </span>
          <div class="row">

            <div class="col col-offset-5">
              <strong>Correct answers:<br></strong>
            </div>
          </div>
          <span class=" col col-offset-10" ng-repeat="options in list.options"
                ng-if="(checkAnswer.match(options.id,list.correct))">
                  {{options.option}}<br>
              </span>
            <div class="row">
                <div class="col col-offset-5">
                    <strong> Explanation: {{list.explanation}}</strong>
                </div>
            </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
