<ion-view>
  <ion-content>
      <div class="text-center home-title">
              <div class="item item-thumbnail-center backgroundColor">
                  <img src="img/aws.png">
                  <h2 class="backgroundColor"><strong>AWS Certified Solutions Architect </strong></h2>
                  <h2 class="backgroundColor"><strong> Associate Practice Exams</strong></h2>
              </div>
          </div>
    <ion-list>
      <ion-item class="item-divider">
        Topics
      </ion-item>
      <ion-item class="item item-avatar-left quiz-title padding-bottom-0" ng-repeat="topic in home.topics"  ng-click="home.goToQuiz(topic)" >
          <img src="{{topic.img}}"  style="max-width: 40px;max-height: 40px">
       <span>{{topic.category|capitalize}} </span>
          <p>{{home.topicsQuestionsLength[$index]}} Questions</p>

      </ion-item>

      <ion-item class="item-divider">
          Papers
      </ion-item>
      <ion-item class="item-icon-left" ng-repeat="paper in home.papers" ui-sref="quizDetail({paper:paper.id})">
          <i class="icon ion-ios-paper positive"></i>
          <span>{{paper.category|capitalize}}</span>
          <p>{{home.papersQuestionsLengthArray[$index]}} Questions</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
